.container {
    height: auto;
}

// .box {
//     width: 773px;
//     height: 661px;
//     opacity: 100%;
//     background-color: #339EF9;
//     position: relative;
//     border-radius: 0 0 100% 0;
// }

// .box::before {
//     content: "";
//     background-color: white;
//     position: absolute;
//     background-color: red;
//     display: block;
//     top: -70px;
//     left: 67%;
//     width: 230px;
//     height: 340px;
//     z-index: 1;
//     transform: rotateZ(7deg);
//     border-radius: 0 0 100% 0;
// }

.aboutContainer {
    background: url(/images/Desktop\ About\ Graphic.svg);
    background-size: 568px 674px;
    background-repeat: no-repeat;
    background-position: 100% -70px;
    background-color: white;
}

.aboutContainer .aboutTitle #title {
    font-family: 'Roboto';
    font-size: 36px;
    color: #339EF9;
    font-weight: bold;
    margin-left: 72px;
    padding-top: 480px;
}

.aboutContainer .aboutWrapper {
    width: 64%;
    margin-left: 72px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
}

.aboutContainer .aboutWrapper .smallContentContainer {
    display: flex;
    justify-content: space-between;
}

.aboutContainer .aboutWrapper .smallContentContainer .aboutHeader {
    .aboutFontStyling();
    width: 20%;
}

.aboutContainer .aboutWrapper .smallContentContainer .aboutContent {
    .aboutFontStyling();
    width: 60%;
    line-height: 32px;
    padding-bottom: 44px;
}

.aboutContainer .aboutWrapper .smallContentContainer #lastEntry {
    padding-bottom: 115px;
}

.meetTheTeam {
    background: url(/images/People.svg);
    background-color: #E9E8E8;
    background-size: 663px 227px contain;
    background-repeat: no-repeat;
    background-position: 50% 100px;
}

.meetTheTeam h2 {
    font-family: 'Open Sans';
    font-size: 50px;
    color: #339EF9;
    font-weight: bold;
    margin-left: 72px;
    padding-top: 460px;
}

.meetTheTeam .team {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.meetTheTeam .team .teamMembers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 183px;

    &:first-child  {
        padding-top: 50px;
    }
}

.meetTheTeam .team .teamMembers .profileContainer {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


.meetTheTeam .team .teamMembers .name {
    font-family: 'Open Sans';
    font-size: 36px;
    color: #339EF9;
    font-weight: bold;
}

.meetTheTeam .team .teamMembers #firstName {
    padding-top: 34px;
}

.meetTheTeam .team .teamMembers .role {
    font-family: 'Nunito';
    font-size: 24px;
    color: #4E4E4E;
    font-weight: bold;
    padding-top: 19px;
}

