.container {
    max-width: 1024px;
    width: 100%;
    height: auto;
}

@media @mobile {
    .blob {
        display: none;
    }
}

.aboutContainer {
    position: relative;

    @media @mobile {
        position: static;
    }

    .aboutImg {
        position: absolute;
        top: 42px;
        left: 450px;
        width: 541px;
        height: 547px;

        @media @mobile {
        position: static;
        height: 600px;
        background-position: 50%;
        background-position: 50% 150px;
        background-size: contain;
        }
    }  
}     

.aboutContainer .aboutTitle #title {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    color: #339EF9;
    font-weight: bold;
    margin-left: 130px;
    padding-top: 530px;

    @media @mobile {
        padding-top: 0px;
    }
}

.aboutContainer .aboutWrapper {
    width: 64%;
    margin-left: 130px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;

    @media @mobile {
        width: 60%;
        align-items: center;
    }
}

.aboutContainer .aboutWrapper .smallContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
        width: 100%;
        align-items: space-around;
    }
}

.aboutContainer .aboutWrapper .smallContentContainer .aboutHeader {
    .aboutFontStyling();
    width: 20%;

    @media @mobile {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: 31px;
        color: #339EF9;
        width: 100%;
    }
}

.aboutContainer .aboutWrapper .smallContentContainer .aboutContent {
    .aboutFontStyling();
    width: 60%;
    line-height: 32px;
    padding-bottom: 44px;

    @media @mobile {
        font-size: 1.8rem;
        line-height: 22px;
        letter-spacing: normal;
        width: 100%;
    }
}

.aboutContainer .aboutWrapper .smallContentContainer #lastEntry {
    padding-bottom: 115px;
}

.meetTheTeam {
    background: url(../images/People.svg);
    background-color: #E9E8E8;
    background-size: 663px 227px contain;
    background-repeat: no-repeat;
    background-position: 50% 100px;

    @media @mobile {
        background: white;
    }
}

.meetTheTeam h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    color: #339EF9;
    font-weight: bold;
    margin-left: 72px;
    padding-top: 460px;

    @media @mobile {
        font-size: 3.6rem;
        font-weight: 600;
        margin-left: 0px;
        padding-top: 20px;
        text-align: center;
    }
}

.meetTheTeam .team {
    display: flex;
    flex-direction: column;
    width: 80%;

    @media @mobile {
        width: 100%;
    }
}

.meetTheTeam .team .teamMembers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 183px;

    &:first-child  {
        padding-top: 50px;
    }

    @media @mobile {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        margin: auto;
    }
}

.meetTheTeam .team .teamMembers .profileContainer {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


.meetTheTeam .team .teamMembers .name {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6rem;
    color: #339EF9;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @media @mobile {
        font-size: 2.4rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
}

.meetTheTeam .team .teamMembers #firstName {
    padding-top: 34px;
}

.meetTheTeam .team .teamMembers .role {
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    color: #4E4E4E;
    font-weight: bold;
    padding-top: 19px;

    @media @mobile {
        font-size: 1.8rem;
        font-weight: normal;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
}

