.welcome .topButton {
    background: #339EF9;
    font-family:"Roboto";
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    width: 180px;
    height: 180px;
    align-self: center;
    border: none;
    position: relative;
    top: 420px;
    background-image: linear-gradient(
        to left,
        #339EF9,
        #6CD6FA
    );
  }
  
  @media (max-width: 500px) {
      .welcome .topButton {
          background: white;
          color: #339EF9;
          top: 0;
      }
  }
  
  .mainContent .topContent .bottomButton {
      background: white;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 24px;
      color: #339EF9;
      border-radius: 100%;
      cursor: pointer;
      text-align: center;
      width: 160px;
      height: 160px;
      align-self: center;
      justify-self: center;
      position: relative;
      top: 70px;
  }
  
  @media (max-width: 500px) {
      .mainContent .topContent .bottomButton {
          background: #339EF9;
          color: white;
          border: none;
      }
  }