.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; 
    border: 1px solid black;

    @media @mobile {
        width: 100%
    }
}

  .welcome {
    width: 100%;
    height: 813px;
    background: url(/images/Desktop\ Graphic.svg);
    background-size: contain 200%;
    background-repeat: no-repeat;
    background-position: 347px 76px;
    background-color: white;
    display: flex;
    flex-direction: column;

    @media @mobile {
        height: 600px;
        background-position: 50%;
    }
}

@media (max-width: 500px) {
    .welcome {
        background-position: 50% 200px;
        background-size: contain;
    }
}

.welcome .welcomeText {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
    color: white; 
}



@media (max-width: 500px) {
    .welcome .welcomeText h1 {
        color: #339EF9;
        margin-bottom: 0px;
    }
}

@media (max-width: 500px) {
    .welcome .welcomeText h2 {
        color: black;
    }
}

/* Main Content Section */

.mainContent {
    width: 100%;
    height: 1277px;
    background: url(/images/iPhoneXR.svg);
    background-repeat: no-repeat;
    background-position: -20px, 290px;
    background-color: #F7F7F7;
    color: #339EF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media (max-width: 500px) {
    .mainContent {
        background: white;
        padding-top: 50px;
    }
}

.mainContent .topContent {
    width: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 290px;
    margin-left: 412px;
    margin-right: 361px;
}

@media (max-width: 500px) {
    .mainContent .topContent {
        width: 73%;
        padding-bottom: 20px;
    }
}

.mainContent .topContent .indyContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

@media (max-width: 500px) {
    .mainContent .topContent .indyContent {
        width: 100%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (max-width: 500px) {
    .mainContent .topContent .indyContent p {
        color: black;
    }
}

.mainContent .topContent #features {
    margin-bottom: 30px;
    align-items: left;
}

@media (max-width: 500px) {
    .mainContent .topContent #features {
        display: none;
    }
}

.mainContent .topContent .indyContent h4 {
    font-size: 21px;
    font-weight: bold;
    padding-top: 92px;
}

.mainContent .topContent .indyContent p {
    font-size: 16px;
    font-weight: bold;
    padding-top: 11px;
    line-height: 24px;
}

@media (max-width: 500px) {
    .mainContent .topContent .indyContent p {
        font-weight: bold;
    }
}