.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; 

    @media @mobile {
        width: 100%
    }
}

  .welcome-container {
    width: 100%;
    height: 813px;
    background: url(/images/Desktop\ Graphic.svg);
    background-size: contain 200%;
    background-repeat: no-repeat;
    background-position: 347px 76px;
    background-color: white;
    display: flex;
    flex-direction: column;

    @media @mobile {
        height: 600px;
        background-position: 50%;
        background-position: 50% 200px;
        background-size: contain;
    }
}

.welcome-container .welcome-content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 50px;
    justify-content: center;
    align-content: center;
    color: white; 

    @media @mobile {
        margin-left: 56px;
        padding-top: 38px;
    }
}

/* Main Content Section */

.main-content {
    width: 100%;
    height: 1277px;
    background: url(/images/iPhoneXR.svg);
    background-repeat: no-repeat;
    background-position: -20px, 290px;
    background-color: #F7F7F7;
    color: #339EF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media (max-width: 500px) {
    .main-content {
        background: white;
        padding-top: 50px;
    }
}

.main-content .mission-statement {
    width: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 290px;
    margin-left: 412px;
    margin-right: 361px;
}

@media (max-width: 500px) {
    .main-content .mission-statement {
        width: 73%;
        padding-bottom: 20px;
    }
}

.main-content .mission-statement .indy-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

@media (max-width: 500px) {
    .main-content .mission-statement .indy-content {
        width: 100%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (max-width: 500px) {
    .main-content .mission-statement .indy-content #indy-info {
        color: black;
    }
}

.main-content .mission-statement #features {
    margin-bottom: 30px;
    align-items: left;
}

@media (max-width: 500px) {
    .main-content .mission-statement #features {
        display: none;
    }
}

.main-content .mission-statement .indy-content #indy-header {
    font-size: 21px;
    font-weight: bold;
    padding-top: 92px;
}

.main-content .mission-statement .indy-content #indy-info {
    font-size: 16px;
    font-weight: bold;
    padding-top: 11px;
    line-height: 24px;
}

@media (max-width: 500px) {
    .main-content .mission-statement .indy-content #indy-info {
        font-weight: bold;
    }
}